<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Activities</title>
    <link rel="stylesheet" href="/css/HomeStyles.css">
</head>
<body>
<!-- Header -->
<header>
    <h1>Move Yourself</h1>
    <nav>
        <a href="/home">Home</a>
        <a href="/account">My Account</a>
    </nav>
</header>

<!-- Main Content -->
<div class="container">
    <div class="my-activities">
        <h2>My Activities</h2>
        <div class="activity-grid">
            <div class="activity-card" th:each="activity : ${userActivities}">
                <h3 th:text="${activity.name}">Activity Name</h3>
                <p th:text="${activity.description}">Activity Description</p>
                <form th:action="@{'/rate/' + ${activity.id}}" method="post">
                    <label>
                        <input type="number" name="evaluation" min="0" max="100" step="1" placeholder="Rate this activity !" th:value="${query}">
                    </label>
                    <button type="submit">Rate</button>
                </form>
                <form th:action="@{'/signout/' + ${activity.id}}" method="post">
                    <button type="submit">Sign out</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Create Program Button -->
    <div class="create-program">
        <form th:action="@{/createprogram}" method="post">
            <label>
                <input type="text" name="programName" class = "NameInput" placeholder="Your program's name" required>
            </label>
            <button type="submit" class="searchButton">Create Program</button>
        </form>
    </div>

    <!-- Display User's Programs -->
    <div class="user-programs">
        <h2>My Programs</h2>
        <div th:each="program : ${programs}">
            <div class="program-card">
                <h3 th:text="${program.name}">Program Name</h3>
                <strong th:each="activity : ${program.activities}" th:text="${activity.name}+'      '">Activity Name ></strong>
                <form th:action="@{'/deleteProgram/' + ${program.id}}" method="post">
                    <button type="submit">Delete</button>
                </form>
            </div>
        </div>
    </div>

</div>
</body>
</html>